@using Environment = DBAudit.Infrastructure.Data.Entities.Environment;

@model System.Collections.Generic.List<Environment>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Environments</h2>
        </div>
        <div class="col-md-12">
            <a href="/Environment/Create">Create</a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <tr>
                <th>Nazwa</th>
                <th></th>
            </tr>
            @foreach (var environment in Model)
            {
                <tr>
                    <td>@environment.Name</td>
                    <td>
                        @if (!environment.IsActive)
                        {
                            <form action="/Environment/Activate" method="post">
                                <input type="hidden" name="id" value="@environment.Id"/>
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Activate" class="btn btn-success"/>
                            </form>
                        }
                        else
                        {
                            <form action="/Environment/Deactivate" method="post">
                                <input type="hidden" name="id" value="@environment.Id"/>
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Deactivate" class="btn btn-danger"/>
                            </form>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


