@using DBAudit.Infrastructure.Contracts.Entities
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="row">
            <div class="col">
                <form action="/home/AnalyzeDatabase" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="envId" value="@ViewBag.EnvironmentId"/>
                    <input type="submit" value="Refresh" class="btn btn-primary"/>
                </form>
            </div> 
        </div>
            <div class="col-md-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        @foreach (Database db in ViewBag.Databases)
                        {
                            <a class="nav-link e" aria-current="page" href="/database/@db.Id">@db.Name</a>
                        }
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                @foreach (Metric metric in ViewBag.Metrics)
                {
                    <div class="card mb-1">
                        <div class="card-body">
                            @metric.Value @metric.Title
                        </div>
                    </div>
                }
            </div>
        </div>
</div>

