@model DBAudit.Infrastructure.Contracts.Entities.ReportView


@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-9">
            @Model.Title
        </div>
        <div class="col-3">
            <form action="/home/AnalyzeDatabase" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="envId" value="@ViewBag.EnvironmentId"/>
                <input type="submit" value="Refresh" class="btn btn-primary"/>
            </form>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-3">
                    <ul class="nav flex-column">
                        @foreach (var link in Model.Links)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@link.Link">@link.Title</a>
                            </li>
                        }
                    </ul>

                </div>
                <div class="col-9">
                    @foreach (var counter in Model.Counters)
                    {
                        @await Html.PartialAsync("StatusCard/Primary", (counter.Title, counter.Value, $"/counter/{counter.Id}"))
                    }
                </div>
            </div>
        </div>
    </div>
</div>